<form [formGroup]="formulario" novalidate (ngSubmit)="enviarDatos()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Pipes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="UpperCasePipe" formControlName="upperCasePipe">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="LowerCasePipe" formControlName="lowerCasePipe">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="DD" formControlName="dia">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="MM" formControlName="mes">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="AAAA" formControlName="anio">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="CurrencyPipe" type="number" formControlName="currencyPipe">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="DecimalPipe" type="number" formControlName="decimalPipe">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="PercentPipe" type="number" formControlName="percentPipe">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Continuar</button>
    </mat-card-actions>
  </mat-card>
</form>
