<section class="main" *ngIf="!sesionIniciada">
    <div class="input">
        <label for="correo">Correo</label>
        <input id="correo" type="email" [(ngModel)]="correo">
    </div>
    <div class="input">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" [(ngModel)]="nombre">
    </div>
    <div class="input">
        <label for="clave">Clave</label>
        <input id="clave" type="password" [(ngModel)]="clave">
    </div>
    <div class="input">
        <button (click)="iniciarSesion()">Registrarse</button>
    </div>
</section>
<section class="main" *ngIf="sesionIniciada">
    <h1>Ya ha iniciado sesión como {{ correo }}</h1>
    <div class="input">
        <button (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</section>